@import "../variables/layout.scss";

@mixin flexbox() {
  display: flex;
}

@mixin flexboxCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify-content($value) {
  justify-content: $value;
}

@mixin flex-justify-content-space-between($value) {
  display: flex;
  justify-content: $value;
}

@mixin max-width($width) {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
}

@mixin buttonFill($theme) {
  @if ($theme == "fill") {
    background-color: black;
    border-color: black;
    color: white;
  } @else {
    background-color: black;
    border-color: pink;
    color: white;
  }
}

@mixin btn-size($size) {
  @if $size == "xl" {
    padding: 32px;
  } @else if $size == "sm" {
    padding: 16px;
  } @else if $size == "md" {
    padding: 24px;
  }
}
