.inputPasswordWrapper {
  position: relative;
  display: inline-block;
  width: 45%;

  &.error {
    .input {
      border: 1px solid #eb445a;
    }
  }
}

.label {
  display: block;
  margin-bottom: 4px;
}

.errorMessage {
  color: #eb445a;
  display: block;
  font-size: 14px;
}

.input {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid lightcyan;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  width: 100%;
  margin-bottom: 4px;

  &.focus {
    border-color: lightgrey;
  }
}

.iconEyePsw {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 95%;
  cursor: pointer;
}
