$heading1: 26px;
$heading2: 22px;
$heading3: 20px;
$heading4: 18px;
$heading5: 16px;
$paragraph: 16px;
$paragraphSmall: 14px;
$paragraphExtraSmall: 12px;

$fontPrimary: "Space Grothesk", sans-serif;
$font-secondary: "Inter", sans-serif;
