$colorRed: red;
$colorBG: lightblue;

/////////////////////////

$primary: #257dfd;
$secondary: #5260ff;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$medium: #92949c;
$dark: #404040;
$light: #f4f5f8;
